<div class="container">
	<h1>Nueva asignatura</h1>

	<form action="/profesor/c" method="POST">
		<label for="idDni">DNI</label>
		<input id="idDni" type="text" name="idDni" autofocus="autofocus" />
		<br />
		
			<form action="/profesor/c" method="POST">
		<label for="idPassword">Contraseña</label>
		<input id="idPassword" type="text" name="idPassword"/>
		<br />
		
			<form action="/profesor/c" method="POST">
		<label for="idNombre">Nombre</label>
		<input id="idNombre" type="text" name="nombre"/>
		<br />
		
			<form action="/profesor/c" method="POST">
		<label for="idApellido">Apellido</label>
		<input id="idApellido" type="text" name="idApellido"/>
		<br />

		<th:block th:each="asignatura:${asignaturas}">
		
		</th:block><th:if="${asignatura.profesor==null}">
		<input th:id="|id-as${asignatura.id}|" type="checkbox" name="idAsignatura"/>
		<label th:for="|id-ass${asignatura.id}|" th:text="${asignatura.nombre}"/>
		

		</th:block>

		<input type="submit" value="Crear" />
	</form>
	<br />
</div>